<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                 <label for="" class="form-label">DISCOUNT CARDS</label>
                 <select name="" id="" class="form-control">
                    <option value="NEWBIE10">NEWBIE10</option>
                    <option value="NEWRES20">NEWRES20</option>
                    <option value="FESTIVE50">FESTIVE50</option>
                    <option value="LAZY30">LAZY30</option>
                 </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">ADDRESS</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="" class="form-label">PAYMENT</label>
                <select name="" id="" class="form-control">
                    <option value="CREDIT OR DEBIT CARD">CREDIT OR DEBIT CARD</option>
                    <option value="NET BANKING">NET BANKING</option>
                    <option value="UPI">UPI</option>
                    <option value="CASH ON DELIVERY">CASH ON DELIVERY</option>
                </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                 <button class="btn btn-success">PAY</button>
                </div>
            </div>
        </div>
    </div>
</div>